<section class="hero is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="../assets/favicon.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/dashboard">
              Dashboard
            </a>
            <a class="navbar-item" routerLink="/patients">
              Patients
            </a>
            <a class="navbar-item" routerLink="/therapist-sign-up">
              Therapists
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

</section>


<div class="container">
<router-outlet></router-outlet>
</div>
<!-- Error debugging
<app-messages></app-messages>
-->
