<section class="hero is-primary">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="../assets/favicon.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/dashboard">
              Dashboard
            </a>
            <a class="navbar-item" routerLink="/sign-up">
              Sign-Up
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

</section>

  <div class="container is-light is-fullheight">
    <router-outlet></router-outlet>
  </div>


<footer class="footer">
  <div class="container">

      <div style="font-size: 25px; text-align: center">

        <a href="https://www.facebook.com/Thoughtpathco"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        &nbsp;&nbsp;
        <a href="https://twitter.com/Thought_Path"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        &nbsp;&nbsp;
        <a href="https://www.linkedin.com/company/thought-path/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      </div>

  </div>
</footer>



<!-- Error debugging
<app-messages></app-messages>
-->
